body {
  font-family: Arial, sans-serif;
  background-color: #1f1f1f;
  color: #c9d1d9;
  margin: 0;
}

.container {
  text-align: center;
  padding: 20px;
}

.task-list {
  border: 1px solid #30363d;
  padding: 10px;
  margin: 20px;
  background-color: #2d333b;
  overflow-y: auto;
}

.task {
  background-color: #2d333b;
  border: 1px solid #30363d;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}

.task:hover {
  background-color: #3e444b;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

